/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
    font-size: 16px;
}
body {
    background-image: url(./books-images/background-owl.jpg);
    font-family: 'Crimson Text', serif;
    letter-spacing: 0.03em;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: black;
}

body::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(black));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), black);
    background: linear-gradient(rgba(0, 0, 0, 0.3), black);
    z-index: -1;

}

* {
    border: 0;
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img {
    max-width: 100%;
}

#logo {
    width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    font-weight: 400;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #f3f3f3;
    text-shadow: 1px 1px 15px black;
}

select {
    padding: 0.25em 0.25em;
    border-radius: 20px;
    font-size: 1rem;
}

/* NAV */
nav {
    color: #f3f3f3;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

nav span {
    margin: 1rem;
}

.nav-chevron {
    display: inline-block;
    width: 12px;
    -webkit-filter: invert();
            filter: invert();
}

.nav-add-pointer {
    cursor: pointer;
}

.nav-chevron-hide {
    visibility: hidden;
}

/* CONTAINER */

.container {
    padding: 2rem 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}


/* CARD */
.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: #f3f3f3;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    color: rgb(9, 9, 9);
    border-radius: 20px;
    min-width: 350px;
}

.text {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    padding: 1rem;
}

.image {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
}

.image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-right-radius: 20px;;
    border-bottom-right-radius: 20px;;
}

.title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.rating {
    font-size: 1.2rem;
    font-weight: 700;
}

.description {
    margin-bottom: 3rem;
}

.genre-rating {
    position: absolute;
    bottom: 0.5rem;
}

.genre {
    background-color: #6A2D4E;
    color: #f3f3f3;
    padding: 0.5rem 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 20px;
}

.flex-space-apart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}